[mysqld]
server-id=5

# binlog
binlog_format=mixed
log-bin=/usr/local/mysql/mysql-bin

replicate-do-db=test
#replicate-ignore-table=test.test
replicate-do-db=percona
#replicate-do_table=database.table
#replicate-ignore-db=mysql

read_only=1 # 普通用户只读
#super_read_only=1 # root 只读

#auto_increment_offset=1 # 自增起始值
#auto_increment_increment=2 # 自增步长
