[mysqld]
character_set_server=utf8
#init_connect='SET CHARACTER SET=utf-8';

pid-file=/usr/local/mysql/mysql.pid
socket=/usr/local/mysql/mysql.sock
datadir=/usr/local/mysql/data
log-error=/usr/local/mysql/error.log

# slow log
slow_query_log=on
long_query_time=1

expire_logs_days=7

sql-mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
